h1{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#017272;
    width:800px;
    box-sizing:border-box;
    padding:1.5em;
    
}
.outercontainer{
   width:800px;
   margin:auto;
}
body{
    background: url("images/background-images/water.jpg");
    background-attachment:fixed;
  background-size:cover;
  background-position: -0px -1200px;}

.scrollme{
    width:100%;
    height:2000px;
    margin:auto;
    background-color: #05abab;
    opacity:95%;
    padding:20px;
    box-sizing:border-box
}
.scrollme p{
    font-family:sans-serif;
    font-size:16px;
    line-height: 1.5em;
    color:white;
}
img.moon{
    opacity:100%;
    perspective:8000px;
}
