body {
    box-sizing: border-box;
}




article {
    padding: 8vw;
}

.content-wrapper p.bold{
 
font-weight:600;
}
.content-wrapper p.bold + p{
    margin-top:0px;
}

.headshot img {
    border-radius: 50%;
    width: 64px;
    align-self: center;
    padding: 0 10px;
    flex-basis: 94px;
}

.headshot p {
    margin: 0;
}

.headshot {
    display: flex;
    margin-bottom: 20px;
}

.headshot-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-wrapper {
    margin: 100px auto 0 auto;
    width: 50vw;
    overflow: hidden;
}

.content-wrapper img {
    object-fit: fill;
}

.content-wrapper p {
    font-weight: 100;
}

.content-wrapper a {
    color: #fcae1e;
    text-decoration: none;
}

.content-wrapper a:hover {
    color: #02686d;
}

.content-wrapper h4 {
    margin: 20px 0px;
}

h2 {
    font-size: 42px;
}

h4 {
    font-size: 32px;
}

.green {
    color: #00969e;
}

.gray {
    color: #AFAFAF;
    font-weight: 100;
    font-size: 16px;
}

.big-link {
    font-size: 24px;
    margin-bottom: 100px;
    display: block;

}

@media screen and (max-width:1200px) {
    .content-wrapper {
        width: 80vw;
    }
}