body {
    background: black;
}

.main-nav a{
    margin-right:60px;
}

.whats-included a.button{
    width:200px;
    margin:20px 0 50px 0;
}

.whats-included span {
    color: var(--green-accent);
}

.whats-included {
    width: 80vw;
    margin: 0 auto;
}

.card-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.card {
    width: 300px;
    background: blue;
    border-radius: 10px;
    margin: 0 20px;
    padding: 25px;
    flex-shrink: 0;
    flex-grow: 1;
}

.card h3 {
    font-size: 36px;
    font-weight: 400;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}

.card-container ul li {
    list-style-type: disc;
    list-style-position: inside;
    display: list-item;
    margin: 20px 0 0 0;
    font-weight: 700;
    letter-spacing: -1px;
    font-weight: 400;
    font-size: 18px;
}

.pricing-banner {
    background-color: var(--green-accent);
    display: flex;
    justify-content: center;
}



.content-creation {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/smaller/content-writing-small.jpg") no-repeat 0/cover;
}

.design {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/smaller/pink-walkway-500px.jpg") no-repeat 0px 0px/cover;
}

.development {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/smaller/computer-guts-small.jpg") no-repeat 0/cover;
}

/* OUR PROCESS */
.our-process {
    width: 80%;
    margin: 0 auto;
}

.our-process h3 {
    font-size: 36px;
}

.our-process h4 {
    font-size: 36px;
    font-weight: 400;
}

.our-process p {
    font-weight: 400;
}

.our-process a{
    width:200px;
    margin-top:20px;
    margin-bottom:50px;
}


/* MEDIA QUERIES */

@media screen and (min-width: 601px) and (max-width: 1075px) {

    .nav-left img{
        margin-left:20px;
    }
    .whats-included{
    margin-left:25px;
    }
    

.card-container {
        display: block;
        width: 100%;
        margin: 0;
    }

    .card {
        width: 100%;
        padding: 10px;
       margin: 25px 0;
    }

    .whats-included h2{
     margin-left:20px;
    }

    .content-creation {
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/smaller/content-writing-small-wide.jpg") no-repeat 0/cover;
    }

    .design {
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/smaller/pink-walkway-small-wide.jpg") no-repeat 0/cover;
    }

    .development {
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/smaller/computer-guts-small-wide.jpg") no-repeat 0/cover;
    }

    .whats-included {
        width: auto;
        margin-left: 5px;
        margin-right: 5px;
    }

    .card h3 {
        margin: 0;
        text-align: left;
    }

    .card ul li {
        margin-left: 25px;
        margin-top: 10px;
    }

}

@media screen and (max-width: 600px) {
  

    .whats-included h2 {
      margin-top:75px;
    }

    .card-container {
        display: block;
    }

    .card {
        width: 100%;
        padding: 10px;
        margin: 25px 0;
    }

    .card-container {
        width: 100%;
        margin: 0;
    }

    .whats-included {
        width: auto;
        margin-left: 5px;
        margin-right: 5px;
    }

    .card h3 {
        margin: 0;
        text-align: left;
    }

    .card ul li {
        margin-left: 25px;
        margin-top: 10px;
    }

    /* This is where the super wide images should go */
    .content-creation {
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/smaller/content-writing-small-wide.jpg") no-repeat 0/cover;
    }

    .design {
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/smaller/pink-walkway-small-wide.jpg") no-repeat 0/cover;
    }

    .development {
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/smaller/computer-guts-small-wide.jpg") no-repeat 0/cover;
    }


}

/* test comment */