body{
    background:black;
}

.contact-wrapper{
    max-width:800px;
    margin:0 auto;
    padding-bottom:150px;
    padding-left:20px;
    margin-top:100px;
}

.contact-wrapper h3{
    font-size:48px;
    font-weight:700;
}
.contact-wrapper p{
    font-weight:400;
    margin-bottom:50px;
}

form li{
    display:list-item;
    margin:20px;
}

form label{
    display:block;
    font-weight:400;
    font-size:16px;
}

form{
    background-color: #242424;
    width:80%;
    max-width:800px;
    margin: 0 auto;
    padding:20px;
    border-radius:10px;
}


form input{
    width:100%;
    height:30px;
    font-size:16px;
}

form textarea{
    width:100%;
    height:200px;
    margin-top:10px;
    font-family: "Inter";
    font-size:16px;
}

form button{
    background-color: var(--green-accent);
    color:white;
    font-weight:400;
    text-transform: uppercase;
    margin-top:10px;
}

@media screen and (max-width:600px){
    form{
        width:100%;
        margin:0;
    }
    .contact-wrapper{
        padding-left:0px;
    }

    .contact-wrapper h3, .contact-wrapper p{
        padding-left:10px;
    }
}