/* FONTS */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/inter/Inter-Regular.woff2") format("woff2"),
        url("../fonts/inter/Inter-Regular.woff2") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/inter/Inter-Bold.woff2") format("woff2"),
        url("../fonts/inter/Inter-Bold.woff2") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("../fonts/inter/Inter-Black.woff2") format("woff2"),
        url("../fonts/inter/Inter-Black.woff") format("woff");
}


/* VARIABLES */
:root {
    --green-accent: #00969e;
}

/* RESETS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}


/* MAIN STYLES */


h1 {
    margin-bottom: 32px;
    font-weight: 700;
    font-size: 100px;
}

h2 {
    font-weight: 700;
    font-size: 4rem;
    margin-bottom: 40px;
}

p {
    margin-bottom: 20px;
}


button {
    border-radius: 0;
    font-family: inherit;
    border: 0;
    padding: 8px 15px;
    border-radius: 0px;
    word-spacing: 2px;
    background-color: white;
    color: var(--green-accent);
    font-size: 26px;
    font-weight: 700;
}

body {
    color: white;
    /* delete below line, only for testing font faces */
    font-family: 'Inter';
    font-weight: 700;
    background-image: linear-gradient(black 0 120px, 300px, transparent), url("../images/wild-sea.jpg");
    background-size: 100%, 3000px;
    background-position: 0 0, 0px -600px;
    background-repeat: no-repeat;
}




h3 {
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

/* NAV STYLES */

nav {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 120px;
    transition: transform .3s;
}

ul li {
    list-style-type: none;
    display: inline;
    margin: 0 10px;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: -1px;
}

.nav-left {
    grid-column: 1/2;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.nav-right {
    grid-column: 2/3;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 20px;
}

nav img {
    height: 65px;
    margin-left: 40px;
    margin-right: 60px;
}

nav button {
    margin-right: 60px;


}

/* scroll styles */
nav.scroll-down{
    transform:translate3d(0, -100%, 0);
}
nav.scroll-up{
    transform:none;
}

/* hamburger styles */
.burger {
    display: none;
    /*need to set back to none*/
    padding: 0.5rem;
    cursor: pointer;
    margin-right: 20px;
}

/* declares height of burger lines */
.line {
    height: 3px;
    width: 35px;
    margin: 0.5rem 0;
    background: #ffffff;
    transition: transform 0.75s ease, opacity 0.75s ease;
}

.main-nav.show .line1 {
    transform: translate(-10px) rotate(45deg) translate(15px);
}

.main-nav.show .line2 {
    opacity: 0;
}

.main-nav.show .line3 {
    transform: translate(-10px) rotate(-45deg) translate(15px);
}

.main-nav.show .nav-links {
    transform: translateX(0%);
}

/* FLYOUT STYLES */
.flyout {
    position: fixed;
    top: 150px;
    right: 0;
    height: 100%;
    width: 50%;
    background: black;
    transform: translateX(100%);
    transition: transform .5s ease;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
}


.flyout .left-nav li{
    padding:25px 0;
    font-size: 36px;
    font-weight:900;
    flex-basis:100%;
    display:block;
    margin-left:20px;
}

.flyout.show {
    transform: translateX(0%);
}

/* CONTENT STYLES */

/* HERO */
section.hero {
    display: grid;
    margin: 50px auto 0 auto;
    grid-template-columns: 400px repeat(12, 1fr);
    width: 75vw;
    padding-bottom: 200px;
}

.hero h1 {
    grid-column: 1/8;
}

.lower-text {
    grid-column: 1/2;
    border-left: 1px solid white;
    padding-left: 15px;
    overflow: auto;
    padding-bottom: 25px;
    margin-bottom: 100px;
}

.hero p {
    margin-top: 10px;
}

.lower-text button {
    color: white;
    width: 250px;
    text-align: left;
    background: url("../images/arrow.svg") no-repeat bottom 50% right 10px, var(--green-accent);
    margin-top: 50px;
}

/* SUPPORT1 */

.support1-wrapper {
    background: black;
    padding-top: 100px;
}

section.support1 {
    display: grid;
    margin: 50px auto 0 auto;
    grid-template-columns: 400px repeat(12, 1fr);
    width: 75vw;
}

.support1 h2 {
    grid-column: 1/8;
}

/* SUPPORT2 */
.support2-wrapper {
    background: white;
    padding-top: 100px;
    color: black;
}

section.support2 {
    display: grid;
    margin: 50px auto 0 auto;
    grid-template-columns: 400px repeat(12, 1fr);
    width: 75vw;
}

.support2 h2 {
    grid-column: 1/8;
}

.lower-text-black {
    grid-column: 1/2;

    border-left: 1px solid black;
    padding-left: 15px;
    overflow: auto;
    padding-bottom: 25px;
    margin-bottom: 100px;
}

/* SUPPORT3 */
.support3-wrapper {
    background: rgb(107, 107, 107);
    padding-top: 100px;
}

section.support3 {
    display: grid;
    margin: 50px auto 0 auto;
    grid-template-columns: 400px repeat(12, 1fr);
    width: 75vw;
}

.support3 h2 {
    grid-column: 1/8;
}

a.texty:hover {
    color: var(--green-accent);
}

a.texty {
    color: inherit;
    text-decoration: none;
}

/* FOOTER */
footer {
    background-color: #f9f9fb;
    color: black;
}

/* MEDIA QUERIES */
@media screen and (max-width:1142px) {
    h1{
        font-size:75px;
    }
    
    .nav-left ul {
        display: none;
    }

    nav {
        grid-template-columns: 1fr 3fr;
    }

    .nav-right {
        margin-left: 30px;
    }

    button.right-nav {
        display: none;
    }

    .burger {
        display: block;
    }
}

@media screen and (max-width:600px){

    h1{
        font-size:54px;
    }
    
    .flyout{
        width:100vw;
        top:70px;
    }
    /* adjust grid */
    section.hero{
        grid-template-columns:repeat(1, 1fr);
        width:95vw;
        padding-top:55px;
        padding-bottom:0px;
    }
    section.hero h1{
        font-weight:900;
    }
    .nav-left{
        padding-left:0px;
        margin-left:-30px;
        justify-content: flex-start;
    }
    nav{
      position:fixed;
      top:0;
      left:0;
      background: #000;
      grid-template-rows:60px;
      padding-top:5px;
      padding-left:0px;
      padding-bottom:5px;
    }
    nav img{
        height:52px
    }
div.burger{
    margin-right:0px;
}
    section.support1 .lower-text, section.support2 .lower-text-black{
        border:0;
        padding-left:0;
    }
   
    section.support1{
        grid-template-columns: 1fr;
        width:95vw;
    }
    section.support2 {
        grid-template-columns: 1fr;
        width:95vw;
    }
    section.support3{
        grid-template-columns: 1fr;
        width: 95vw;
    }
}


/* Need to add a breakpoint at 990 that switches to drop down menu */
/* need to check background resolution on mobile devices, can
you use srcset on background-image? */

/* fix white space coming through still DONE*/

/* Add black background to nav DONE*/
/* fix fixed scroll DONE*/
/* Add scroll function to nav bar, hide on scroll down, show on scroll up */
/* Make nav reappear at a certain point */